.header {
  display: flex;
  justify-content: space-between;
  padding: 3rem 6rem;
  background-color: var(--dark-blue-el);
  color: var(--white);
}

#light .header {
  background-color: white;
  color: var(--very-dark-blue-txt);
}

.toggle-mode {
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: 1.6rem;
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.countries__container {
  padding: 3rem 6rem;
  background-color: var(--very-dark-blue-bg);
  min-height: 100vh;
}

#light .countries__container {
  background-color: var(--very-light-gray-bg);
}

.countries-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 7rem;
  font-size: 1.4rem;
}

.country {
  background-color: var(--dark-blue-el);
  border-radius: 5px;
  box-shadow: var(--dark-box-shadow);
}

#light .country {
  box-shadow: var(--light-box-shadow);
}

.country-img {
  border-radius: 5px;
  height: 17.5rem;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.country__data {
  color: var(--white);
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 800;
}

#light .country__data {
  color: var(--very-dark-blue-txt);
  background-color: var(--white);
}

.country__name {
  font-size: 2.5rem;
}

.country__data-text {
  font-weight: 600;
}

.country__data-span {
  margin-left: 3px;
  font-weight: 300;
}

.country__name {
  margin-bottom: 1.5rem;
}

.countries-form {
  padding: 3rem 6rem;
  background-color: var(--very-dark-blue-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#light .countries-form {
  background-color: var(--very-light-gray-bg);
}

.form__left {
  display: flex;
  align-items: center;
  position: relative;
}

.country-input {
  padding: 2rem 4rem;
  background-color: var(--dark-blue-el);
  border: none;
  color: var(--white);
  box-shadow: var(--dark-box-shadow);
  border-radius: 5px;
  min-width: 40rem;
  outline: none;
}

#light .country-input {
  color: var(--very-dark-blue-txt);
  background-color: var(--white);
  box-shadow: var(--light-box-shadow);
}

.country-input::placeholder {
  padding-left: 0.25rem;
  color: var(--white);
}

#light .country-input::placeholder {
  color: var(--very-dark-blue-txt);
}

.filter-input {
  border: none;
  outline: none;
  position: relative;
  background-color: var(--dark-blue-el);
  color: var(--white);
  padding: 2rem 5rem;
  box-shadow: var(--dark-box-shadow);
}

#light .filter-input {
  color: var(--very-dark-blue-txt);
  background-color: var(--white);
  box-shadow: var(--light-box-shadow);
}
