.header {
  display: flex;
  justify-content: space-between;
  padding: 3rem 6rem;
  background-color: var(--dark-blue-el);
  color: var(--white);
}

#light .header {
  background-color: white;
  color: var(--very-dark-blue-txt);
}

.toggle-mode {
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: 1.6rem;
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.loading {
  min-height: 95vh;
  background-color: var(--very-dark-blue-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

#light .loading {
  background-color: var(--very-light-gray-bg);
}

.error-container {
  min-height: 95vh;
  background-color: var(--very-dark-blue-bg);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

#light .error-container {
  background-color: var(--very-light-gray-bg);
  color: var(--very-dark-blue-txt);
}

.countries__container {
  padding: 3rem 6rem;
  background-color: var(--very-dark-blue-bg);
  min-height: 100vh;
}

#light .countries__container {
  background-color: var(--very-light-gray-bg);
}

.countries-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  gap: 7rem;
  font-size: 1.4rem;
}

a,
a:visited,
a:link {
  text-decoration: none;
}

.country {
  background-color: var(--dark-blue-el);
  border-radius: 5px;
  box-shadow: var(--dark-box-shadow);
  max-width: 40rem;
}

#light .country {
  box-shadow: var(--light-box-shadow);
  background-color: var(--white);
}

.country-img {
  border-radius: 5px;
  height: 17.5rem;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.country__data {
  color: var(--white);
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 800;
}

#light .country__data {
  color: var(--very-dark-blue-txt);
  background-color: var(--white);
}

.country__name {
  font-size: 2.5rem;
}

.country__data-text {
  font-weight: 600;
}

.country__data-span {
  margin-left: 3px;
  font-weight: 300;
}

.country__name {
  margin-bottom: 1.5rem;
}

.countries-form {
  padding: 3rem 6rem;
  background-color: var(--very-dark-blue-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#light .countries-form {
  background-color: var(--very-light-gray-bg);
}

.form__left {
  display: flex;
  align-items: center;
  position: relative;
}

.country-input {
  padding: 2rem 4rem;
  background-color: var(--dark-blue-el);
  border: none;
  color: var(--white);
  box-shadow: var(--dark-box-shadow);
  border-radius: 5px;
  min-width: 40rem;
  outline: none;
}

#light .country-input {
  color: var(--very-dark-blue-txt);
  background-color: var(--white);
  box-shadow: var(--light-box-shadow);
}

.country-input::placeholder {
  padding-left: 0.25rem;
  color: var(--white);
}

#light .country-input::placeholder {
  color: var(--very-dark-blue-txt);
}

.filter-input {
  border: none;
  outline: none;
  position: relative;
  background-color: var(--dark-blue-el);
  color: var(--white);
  padding: 2rem 5rem;
  box-shadow: var(--dark-box-shadow);
  cursor: pointer;
}

#light .filter-input {
  color: var(--very-dark-blue-txt);
  background-color: var(--white);
  box-shadow: var(--light-box-shadow);
}

.btn-back {
  color: var(--white);
  font-size: 1.6rem;
  display: flex;
  max-width: 15rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--dark-blue-el);
  box-shadow: var(--dark-box-shadow);
  border-radius: 5px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
}

#light .btn-back {
  background-color: var(--white);
  color: var(--very-dark-blue-txt);
}

.country__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  margin-top: 5rem;
  color: var(--white);
}

#light .country__info {
  color: var(--very-dark-blue-txt);
}

.country__info-img {
  height: 45rem;
  width: 40%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.country__info-data {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  flex: 1;
}

.country__info-data h2 {
  font-size: 3rem;
}

.country__info-specific {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.country__info-text {
  font-size: 1.6rem;
  font-weight: 600;
}

.country__info-span {
  font-weight: 300;
  margin-left: 3px;
}

.border-countries {
  display: flex;
  gap: 1.25rem;
  justify-content: flex-start;
  align-items: center;
}

.border__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.25rem;
}

.border__list p {
  background-color: var(--dark-blue-el);
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
}

#light .border__list p {
  background-color: var(--white);
  box-shadow: var(--light-box-shadow);
}

.border__list > a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 900px) {
  .countries-list {
    gap: 5rem;
  }

  .country__info {
    flex-direction: column;
  }

  .country__info-img {
    height: 25rem;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .header,
  .countries__container {
    padding: 2rem;
  }

  .countries-form {
    flex-direction: column;
    gap: 2.5rem;
  }

  .form__left {
    width: 100%;
  }

  .country-input {
    min-width: 100%;
  }

  .countries-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .country {
    min-width: 35rem;
  }

  .country__info {
    gap: 5rem;
  }

  .country__info-specific {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }
}
