@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --dark-blue-el: hsl(209, 23%, 22%);
  --very-dark-blue-bg: hsl(207, 26%, 17%);
  --very-dark-blue-txt: hsl(200, 15%, 8%);
  --dark-gray-inpt: hsl(0, 0%, 52%);
  --very-light-gray-bg: hsl(0, 0%, 95%);
  --white: hsl(0, 0%, 100%);
  --dark-box-shadow: 0.25rem 0.5rem 0.75rem var(--very-dark-blue-txt);
  --light-box-shadow: 0.25rem 0.5rem 0.75rem rgb(200, 200, 200);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Nunito Sans", sans-serif;
}

@media (max-width: 900px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
